@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap');

:root {
	--primary-blue: #2c77ad;
	--dark-grey: #b9b9b9;
	--darker-grey: #2f2f2f;
	--light-grey: #f5f5f5;
	--green: #26b876;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lexend', sans-serif;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	display: flex;
	list-style: none;
	align-items: center;
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	text-decoration: none;
	color: var(--darker-grey);
	font-weight: 600;
	font-size: 1.5rem;
	padding: 1rem 2rem;
	transition: all 0.1s ease-in-out;
}

nav ul li a:hover {
	transition: all 0.1s ease-in-out;
	background-color: #26b876;
	color: white;
	border-radius: 2rem;
	box-shadow: 1rem 1rem 0.2rem rgba(0, 0, 0, 0.2);
}

nav h1 > a {
	text-decoration: none;
	color: var(--primary-blue);
	font-size: 3rem;
	font-weight: 800;
}

.header {
	background-image: url('../assets/home/header.png');
	background-size: cover;
	background-position: center right;
	padding: 3rem 5rem;
	height: 100vh;
}

.hero {
	margin-top: 15%;
	color: white;
}

.hero h1 {
	font-size: 3rem;
	font-weight: 800;
	max-width: 35%;
}

.hero p {
	margin-top: 2rem;
	margin-bottom: 3rem;
	max-width: 30%;
	font-size: 1.2rem;
	line-height: 1.5;
}
.hero a {
	color: white;
	text-decoration: none;
	padding: 1rem 2rem;
	background-color: #26b876;
	border-radius: 2rem;
	display: inline-block;
	box-shadow: 0.5rem 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
	transition: all 0.1s ease-in-out;
}

.hero a:hover {
	margin-top: 1.75rem;
	font-size: 1.2rem;
	box-shadow: 1rem 1rem 0.9rem rgba(12, 66, 45, 0.2);
	transition: all 0.1s ease-in-out;
}

.search {
	background-image: url('../assets/home/search.png');
	background-size: cover;
	background-position: 0 30%;
	height: 75vh;
	position: relative;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Black color with 50% opacity */
}

.content {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 99;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	max-width: 50ch;
	text-align: center;
}

.search h1 {
	font-size: 4rem;
	font-weight: 800;
	color: white;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.search form {
	display: flex;
}
.search input {
	width: 100%;
	padding: 1rem 4rem 1rem 2rem;
	border-radius: 2rem 0 0 2rem;
	border: none;
	outline: none;
	font-size: 1.2rem;
}

.search button {
	padding: 1rem 2rem;
	border-radius: 0 2rem 2rem 0;
	border: none;
	outline: none;
	background-color: #26b876;
	color: white;
	font-size: 1.2rem;
	cursor: pointer;
}

.search button:hover {
	background-color: #1e9e66;
}
