@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
	background-image: url('../assets/home/header.png');
	background-size: cover;
	background-position: center right;
	padding: 3rem 5rem;
	height: 100vh;
}

.banner {
	margin-top: 15%;
	color: white;
}

.banner h1 {
	font-size: 3rem;
	font-weight: 800;
}

.banner p {
	margin-top: 2rem;
	margin-bottom: 3rem;
	max-width: 30%;
	font-size: 1.2rem;
	line-height: 1.5;
}
.banner a {
	color: white;
	text-decoration: none;
	padding: 1rem 2rem;
	background-color: #26b876;
	border-radius: 2rem;
	display: inline-block;
	box-shadow: 0.5rem 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
	transition: all 0.1s ease-in-out;
}

.banner a:hover {
	font-size: 1.2rem;
	box-shadow: 1rem 1rem 0.9rem rgba(12, 66, 45, 0.2);
	transition: all 0.1s ease-in-out;
}

.search {
	background-image: url('../assets/home/search.png');
	background-size: cover;
	background-position: 0 30%;
	height: 75vh;
	position: relative;
	z-index: 1;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Black color with 50% opacity */
	z-index: 2;
	pointer-events: none;
}

.content {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 3;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	max-width: 50ch;
	text-align: center;
}

.search h1 {
	font-size: 4rem;
	font-weight: 800;
	color: white;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.search form {
	display: flex;
}
.search input {
	width: 100%;
	padding: 1rem 4rem 1rem 2rem;
	border-radius: 2rem 0 0 2rem;
	border: none;
	outline: none;
	font-size: 1.2rem;
}

.search button {
	padding: 1rem 2rem;
	border-radius: 0 2rem 2rem 0;
	border: none;
	outline: none;
	background-color: #26b876;
	color: white;
	font-size: 1.2rem;
	cursor: pointer;
}

.search button:hover {
	background-color: #1e9e66;
}

.featured-section {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('../assets/home/featured.jpg');
	background-size: cover;
}

.featured-section .overlay {
	background-color: rgba(0, 0, 0, 0.2); /* Black color with 50% opacity */
	z-index: 2;
}

.featured-section h1 {
	position: relative;
	z-index: 3;
	max-width: 20ch;
	color: white;
	font-size: 3rem;
	font-weight: 800;
	padding-top: 3rem;
	margin-bottom: 3rem;
	text-align: center;
}

.featured {
	position: relative;
	z-index: 3;
	max-width: 70%;
	border-radius: 2rem;
	display: grid;
	gap: 0.5rem;
	padding: 1.5rem;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}

.featured-img {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.featured-img img {
	max-width: 100%;
	height: auto;
	background-color: white;
	padding: 2rem;
	vertical-align: center;
	display: inline-block;
}
.featured > div > img {
	border-radius: 1rem;
	transition: all 0.1s ease-in-out;
	border: 2px solid var(--dark-grey);
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.featured .wide {
	grid-column: span 2 / auto;
}

.featured .tall {
	grid-row: span 2 / auto;
}

.featured .wide.tall {
	grid-column: span 2 / auto;
	grid-row: span 2 / auto;
}

.featured > div > img:hover {
	position: relative;
	z-index: 3;
	border: 2px solid var(--dark-grey);
	width: 100%;
	height: 100%;
	object-fit: contain;
	transition: all 0.1s ease-in-out;
	transform: scale(1.1);
}
